hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    color: #2d3c49;
}

h1 {
    font-weight: 200;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    color: #7d97ad;
    font-weight: bold;
    letter-spacing: 2px;
}

h4 {
    font-size: 200%;
    font-weight: bold;
    color: #2d3c49;
}

hr {
    height: 3px;
    background-color: #7d97ad;
}

.header_logo {
    min-width: 100px;
}

@media screen and (max-width: 768px){
    .featured_work {
        display: table;
        margin: 0 auto;
    }
    .main_image_container {
        display: table;
        margin: 0 auto;
    }
    h3 {
        text-align: center;
    }
}

@media screen and (min-width: 1200px){
    .container {
        width: 940px;
    }
}

.featured_work_item {
    max-width: 400px;
}